:root {
    --h2-title: #181D27;
    --title: #171A1C;
    --content: #555E68;
    --helper: #9FA6AD;
    --file-texts: #6B6C6E;
    --header-text: #232323;
    --border: #C8C8C8;
    --border-primary: #636B74;
    --border-secondary: #9FA6AD;
    --background-color: #f8f9fa;
    --text-color: #333;
}